/* _content/Pomodorii.web/Pages/TomatesListPage.razor.rz.scp.css */
body[b-xkpoqkbyxd] {
    display: inline;
    background-color:red;
}

div[b-xkpoqkbyxd] {
    display: inline;
}

/* _content/Pomodorii.web/Shared/MainLayout.razor.rz.scp.css */
/* _content/Pomodorii.web/Shared/NavMenu.razor.rz.scp.css */
