@*page d'acceuil*@

@page "/"
<h1 class="text-center">Pomodorii</h1>
<p class="text-center">Bienvenu sur Pomodorii, le seul site de GTAO.</p>
<div className="jumbotron">


    <hr className="my-4" />
    <div>
        <h4>ça sert à quoi la GTAO ?</h4>
        <br />
        <p>
            La GTAO, c'est de la Gestion de Tomates Assistée par Ordinateur
        </p>
        <p>
            En se basant sur le cycle de vie de la tomate, Pomodorii va vous aider à gérer vos graines, vos semis, vos plants et votre récolte.
            @*Et ce, année après année, vous permettant via des options statistiques avancées de comprendre le meilleur moment pour semer et planter et récolter en fonction de chaque variété.*@
        </p>
        <p>
            @*Pomodorii vous alerte également d'une potentielle apparition de maladie en se basant sur la météo, on arrête pas le progrès !*@
        </p>
        <p>
            En gref, Si votre truc dans la vie est de faire pousser des tomates, vous êtes au bon endroit !
        </p>
    </div>
</div>
