@*affiche la liste des tomates*@
@page "/mestomates"

@*le code c# est déporté dans cette classe*@
@inherits TomatesListPageBase
@using Pomodorii.Models

<div class="my-5 text-center">
    <div class="info-header mb-5">
        <h2 class="pb-3">Mes tomates</h2>
        <a href="tomateEdit" class="btn btn-primary">Ajouter une nouvelle tomate</a>
    </div>

    <div class="row">
        @*busy indicator qui apparait tant que les tomates ne sont pas chargées*@
        @if (Tomates == null)
        {
            <div class="busy"></div>
        }
        else
        {
            @foreach (var t in Tomates)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="@($"tomate/{t.Id}")">
                            <div class="card-body">
                                <img src="@t.ImageUrlDefaut" alt="tomates" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>@t.Nom</h3>
                                <h5 class="text-muted"></h5>
                                <p>@t.Description</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }

    </div>
</div>

